{% extends 'base.html.twig' %}

{% block title %}
    Añadir Gastos
{% endblock %}

{% block page_name %}
    Añadir Gastos
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        <div class="card-body">
            {% if option == 'wins' %}
                <a class="btn btn-primary col-md-2 m-1" href="{{ path('app_system_gastos', {'option': 'wins'}) }}">Ganancias</a>
                <a class="btn btn-default col-md-2 m-1" href="{{ path('app_system_gastos', {'option': 'bank'}) }}">Banco</a>
            {% else %}
                <a class="btn btn-default col-md-2 m-1" href="{{ path('app_system_gastos', {'option': 'wins'}) }}">Ganancias</a>
                <a class="btn btn-primary col-md-2 m-1" href="{{ path('app_system_gastos', {'option': 'bank'}) }}">Banco</a>
            {% endif %}
            {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
            <div class="row mt-4">
                <div class="col-md-3">
                    {% if option == 'wins' %}
                        <label class="form-control">Ganancias: <span class="float-right">
                            {{ system.ganancia }}
                        </span> </label>
                    {% else %}
                        <label class="form-control">Banco: <span class="float-right">
                            {{ system.banco }}
                        </span> </label>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control mb-2" name="gastos_input" placeholder="Gastos"
                           required autocomplete="off">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control mb-2" name="nota_input" placeholder="Nota"
                           required autocomplete="off">
                </div>
                <div class="col-md-3">
                    {{ form_row(form.submit, {attr: {class: 'form-control btn btn-primary submit-p-btn'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('dist/js/alerts.js') }}"></script>
    {% for msg in app.flashes('success') %}
        <script>
          showAlert('success', '{{ msg }}', 'Correcto')
        </script>
    {% endfor %}
    {% for msg in app.flashes('error') %}
        <script>
          showAlert('error', '{{ msg }}', 'Error')
        </script>
    {% endfor %}
{% endblock %}