{% extends 'base.html.twig' %}

{% block title %}Configuración{% endblock %}

{% block page_name %}
    <div class="col-md-6">Configuración</div>
{% endblock %}

{% block stylesheet %}
    <style>
        .img-file a, .form-check-label, #system_imageFile_delete {
            display: none !important;
        }
    </style>
{% endblock %}


{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.pagename, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.winproduct, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.winservice, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-6">
                    <label>Seleccionar Imagen</label>
                    <label id="label_for_img" for="system_imageFile_file" class="form-control"
                           style="overflow: hidden; cursor: pointer"></label>
                </div>
                <div class="d-none" style="margin-top: -6px">
                    {{ form_row(form.imageFile, { attr: {'autocomplete': 'off', 'onchange':'getFileJsSystem()', 'required':'off'} } ) }}
                </div>
                <div class="col-md-3 m-auto">
                    {{ form_row(form.submit, {attr:{text: 'Actualizar', class: 'btn-primary btn-block submit-p-btn', style: 'margin-top: 32px!important'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('dist/js/alerts.js') }}"></script>
    {% for msg in app.flashes('success') %}
        <script>
            showAlert('success', '{{ msg }}', 'Correcto');
        </script>
    {% endfor %}
{% endblock %}
