{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/datatables.min.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block page_name %}
    {{ title }}
{% endblock %}

{% block page_btns %}
    <a type="button" class="btn btn-primary m-1 float-right col-md-3" href="{{ path('app_factura') }}">
        Nueva Factura
    </a>
    <a type="button" class="btn btn-primary m-1 float-right col-md-3" href="{{ path('app_user_factura_xcobrar') }}">
        Por Cobrar
    </a>
    <a type="button" class="btn btn-primary m-1 float-right col-md-3" href="{{ path('app_user_factura') }}">
        Mis Facturas
    </a>
{% endblock %}


{% block main_content %}
    <div class="card card-primary container-fluid">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable3" class="table table-striped" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th width="12%">Fecha</th>
                        <th width="12%">Usuario</th>
                        <th width="12%">Cliente</th>
                        <th width="12%">Productos</th>
                        <th width="12%">Servicios</th>
                        <th width="12%">Total</th>
                        <th width="12%">Deuda</th>
                        <th width="16%">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for factura in facturas %}
                        <tr class="text-center">
                            <td>{{ factura.fecha|date("d-m-Y") }}</td>
                            <td>{{ factura.iduser }}</td>
                            <td>{{ factura.idcliente }}</td>
                            {% set cantidadT = 0 %}
                            {% for producto in factura.productos %}
                                {% set cantidadT = cantidadT + producto.cantidad %}
                            {% endfor %}
                            <td>{{ cantidadT }}</td>
                            {% set cantidadS = 0 %}
                            {% for servicio in factura.servicios %}
                                {% set cantidadS = cantidadS + servicio.cantidad %}
                            {% endfor %}
                            <td>{{ cantidadS }}</td>
                            <td>{{ factura.total }}</td>
                            <td>{{ factura.xpagar }}</td>
                            <td><a href="{{ path('app_factura_detalles', {'id': factura.id}) }}"><input
                                            class="btn btn-default btn-sm" type="button" value="Detalles"></a>
                                {% if factura.xpagar == factura.totalreal %}
                                    <button type="button" class="btn btn-sm btn-default mr-1 ml-1" title="Eliminar"
                                            onclick="delFactura({{ factura.id }})">
                                        <i class=" fas fa-trash-alt text-red"></i>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-default mr-1 ml-1 disabled" title="Eliminar">
                                        <i class=" fas fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('plugins/users.js') }}"></script>
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('dist/js/alerts.js') }}"></script>
    {% for msg in app.flashes('success') %}
        <script>
            showAlert('success', '{{ msg }}', 'Correcto');
        </script>
    {% endfor %}
{% endblock %}


