{% extends 'base.html.twig' %}

{% block title %}
    Registros
{% endblock %}

{% block page_name %}
    Registros
{% endblock %}

{% block main_content %}
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2" style="margin-bottom: 10px">
                            <label>Año</label>
                            <select name="type" id="year" class="form-control">
                                {% for year in years %}
                                    {% if year[0] == actualYear %}
                                        <option value="{{ year[0] }}" selected>{{ year[0] }}</option>
                                    {% else %}
                                        <option value="{{ year[0] }}">{{ year[0] }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2" style="margin-bottom: 10px">
                            <label>Mes</label>
                            <select name="cant" id="mes" class="form-control">
                                <option value="all">Todos</option>
                                {% set mesTMP = 1 %}
                                {% for mes in meses %}
                                    {% if actualMes == mesTMP %}
                                        <option value="{{ mesTMP }}" selected>{{ mes }}</option>
                                        {% set mesTMP = mesTMP + 1 %}
                                    {% else %}
                                        <option value="{{ mesTMP }}">{{ mes }}</option>
                                        {% set mesTMP = mesTMP + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2" style="margin-bottom: 10px">
                            <label>Tipo</label>
                            <select name="range" id="type" class="form-control">
                                <option value="all">Todos</option>
                                {% for tipo in tipos %}
                                    <option value="{{ tipo[0] }}">{{ tipo[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2" style="margin-bottom: 10px">
                            <label>Trabajador</label>
                            <select name="worker" id="worker" class="form-control">
                                <option value="all" selected>Todos</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-4" style="margin-bottom: 10px">
                            <label>&nbsp;</label>
                            <input id="aceptBtn" class="btn btn-primary btn-block form-control col-lg-6" type="button" value="Buscar"
                                   onclick="getLogs()">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Header - Dropdown -->
            <div class="user pl-5 pr-5 pb-5 pt-4">
                <label id="label_gastos"> </label>
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTableLogs" width="100%" cellspacing="0">
                        <thead>
                        <tr class="text-center">
                            <th width="20%">Fecha</th>
                            <th width="20%">Tipo</th>
                            <th width="20%">Detalles</th>
                            <th width="20%">Usuario</th>
                            <th width="20%">Cliente</th>
                        </tr>
                        </thead>
                        <tbody id="query_result">
                        <tr class="text-center">
                            <td colspan="5">Realiza una búsqueda para mostrar resultados</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/logs.js') }}"></script>
{% endblock %}
