{% extends 'base.html.twig' %}

{% block title %}
    Editar Servicio
{% endblock %}

{% block page_name %}
    Editar Servicio
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.name, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.detalles, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.precio, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.xcientoganancia, { attr: {'autocomplete': 'off'} } ) }}
                </div>
            </div>
            <div class="row col-md-6 m-auto">
                <div class="col-md-6">
                    {{ form_row(form.submit, {attr:{class: 'btn-primary btn-block submit-p-btn', style: 'margin-top: 32px!important'}}) }}
                </div>
                <div class="col-md-6">
                    <a href="{{ path('app_services') }}"><input class="btn btn-danger btn-block" type="button"
                                                                value="Cancelar" style="margin-top: 32px!important"></a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
{% endblock %}


