{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/datatables.min.css') }}">
{% endblock %}

{% block title %}
    Servicios
{% endblock %}

{% block page_name %}
    Servicios
{% endblock %}

{% block main_content %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="card card-primary container-fluid">
            {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.name, { attr: {'autocomplete': 'off'} } ) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.detalles, { attr: {'autocomplete': 'off'} } ) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.precio, { attr: {'autocomplete': 'off'} } ) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.xcientoganancia, { attr: {'autocomplete': 'off'} } ) }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_row(form.submit, {attr:{class: 'btn-primary btn-block submit-p-btn', style: 'margin-top: 32px!important'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <!-- /.card-body -->
        </div>
    {% endif %}
    <div class="card card-primary container-fluid">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th width="20%">Nombre</th>
                        <th width="20%">Detalles</th>
                        <th width="20%">Precio</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th width="20%">%_Venta</th>
                            <th width="20%">Acciones</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in data %}
                        <tr class="text-center">
                            <td class="text-left pl-4">{{ service.name }}</td>
                            <td><input type="button" class="btn btn-sm btn-default" value="Ver detalles" onclick="alert('{{ service.detalles }}')"></td>
                            <td>{{ service.precio }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>{{ service.xcientoganancia }}</td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-default mr-1 ml-1 mb-1" title="Editar" href="{{ path('app_services_edit', {'id': service.id}) }}">
                                        <i class="far fa-edit text-warning"></i>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-default mr-1 ml-1 mb-1" title="Eliminar"
                                            onclick="delServicio({{ service.id }}, '{{ service.name }}')">
                                        <i class=" fas fa-trash-alt text-red"></i>
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('plugins/users.js') }}"></script>
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('dist/js/alerts.js') }}"></script>
    {% for msg in app.flashes('success') %}
        <script>
            showAlert('success', '{{ msg }}', 'Correcto');
        </script>
    {% endfor %}
{% endblock %}