{% extends 'base.html.twig' %}

{% block title %}
    Editar Cliente
{% endblock %}

{% block page_name %}
    Editar Cliente
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-7 row">
                    <div class="col-md-4">
                        {{ form_row(form.name, { attr: {'autocomplete': 'off'} } ) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.tell, { attr: {autocomplete: 'off', maxlength: '8', minlength: '8'} } ) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.descuento, { attr: {'autocomplete': 'off'} } ) }}
                    </div>
                </div>
                <div class="col-md-5 row">
                    <div class="col-md-6">
                        {{ form_row(form.submit, {attr:{text: 'Actualizar', class: 'btn-primary btn-block submit-p-btn', style: 'margin-top: 32px!important'}}) }}
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('app_client') }}"><input class="btn btn-danger btn-block" type="button" value="Cancelar" style="margin-top: 32px!important"></a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
{% endblock %}