{% extends 'base.html.twig' %}

{% block title %}
    Dar Baja
{% endblock %}

{% block page_name %}
    Dar Baja
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        <div class="card-body">
            {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
            <div class="row">
                <div class="col-md-4">
                    <label class="">Cantidad en Inventario</label><label
                            class="form-control">{{ cantidad_actual }} </label>
                </div>
                <div class="col-md-4">
                    <label class="">Bajas</label>
                    <input type="text" placeholder="0" class="form-control mb-1" name="bajas" required>
                </div>
                <div class="col-md-4">
                    <label class="">Notas</label>
                    <input type="text" placeholder="..." class="form-control" name="notas" autocomplete="off">
                </div>
            </div>
            <div class="row col-md-6 m-auto">
                <div class="col-md-6">
                    {{ form_row(form.submit, {attr:{ class: 'btn-primary btn-block submit-p-btn', style: 'margin-top: 32px!important'}}) }}
                </div>
                <div class="col-md-6">
                    <a href="{{ path('app_inventario') }}"><input class="btn btn-danger btn-block" type="button"
                                                                  value="Cancelar"
                                                                  style="margin-top: 32px!important"></a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('dist/js/alerts.js') }}"></script>
    {% for msg in app.flashes('error') %}
        <script>
            showAlert('error', '{{ msg }}', 'Error');
        </script>
    {% endfor %}
{% endblock %}
