{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/datatables.min.css') }}">
{% endblock %}

{% block title %}
    Usuarios
{% endblock %}

{% block page_name %}
    Usuarios
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.name, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.username, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.submit, {attr:{class: 'btn-primary btn-block submit-p-btn', style: 'margin-top: 32px!important'}}) }}
                </div>
                <label class="text-sm mt-2"><span class="text-danger">• </span>La contraseña por defecto para un nuevo
                    trabajador es: 12345</label>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
    <div class="card card-primary container-fluid">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th width="11%">Nombre</th>
                        <th width="11%">Usuario</th>
                        <th width="11%">Acumulado_Ventas</th>
                        <th width="11%">Acumulado_Servicios</th>
                        <th width="11%">Total</th>
                        <th width="11%">Caja</th>
                        <th width="23%">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in data %}
                        <tr class="text-center">
                            <td>{{ user.name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.payV }}</td>
                            <td>{{ user.payS }}</td>
                            <td>{{ user.payS + user.payV + user.payTotal }}</td>
                            <td>{{ user.caja }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-default mr-1 ml-1 mb-1"
                                   href="{{ path('app_pay_users', {'id': user.id}) }}" title="Pagar">
                                    <i class="fas fa-dollar-sign text-success"
                                       style="margin-left: 3px; margin-right: 3px"></i>
                                </a>
                                <button title="Vaciar Caja" class="btn text-info btn-default btn-sm mb-1 ml-1 mr-1"
                                        type="button" onclick="vaciarCaja('{{ user.id }}','{{ user.username }}')">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </button>
                                <a class="btn btn-sm btn-default mr-1 ml-1 mb-1"
                                   href="{{ path('app_amortizar_users', {'id': user.id}) }}" title="Amortizar">
                                    <i class="fas fa-landmark text-primary"></i>
                                </a>
                                <a class="btn btn-sm btn-default mr-1 ml-1 mb-1"
                                   href="{{ path('app_users_edit', {'id': user.id}) }}" title="Editar">
                                    <i class="far fa-edit text-warning"></i>
                                </a>
                                {% if user.roles[0] != "ROLE_ADMIN" %}
                                    <button type="button" class="btn btn-sm btn-default mr-1 ml-1 mb-1" title="Eliminar"
                                            onclick="delUser({{ user.id }}, '{{ user.name }}')">
                                        <i class=" fas fa-trash-alt text-red"></i>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-default mr-1 ml-1 mb-1" title="Eliminar"
                                            disabled>
                                        <i class=" fas fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('plugins/users.js') }}"></script>
    <script src="{{ asset('dist/js/caja.js') }}"></script>
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('dist/js/alerts.js') }}"></script>
    {% for msg in app.flashes('success') %}
        <script>
            showAlert('success', '{{ msg }}', 'Correcto');
        </script>
    {% endfor %}
    {% for msg in app.flashes('error') %}
        <script>
            showAlert('error', '{{ msg }}', 'Error');
        </script>
    {% endfor %}
{% endblock %}